.tag-header-container {
  display: flex;
  gap: 10px;

  &>.tag-header-item {
    position: relative;

    padding: 5px;
    cursor: pointer;


    &::after {
      transition: .3s;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50%;
      width: 40%;
      height: 3px;
      background: #e5e5e5;
      border-radius: 5px;
    }

    &:hover {
      &::after {
        width: 80%;
      }
    }

    &.activate {
      &::after {
        width: 100%;
        background: #123ede;
      }
    }
  }
}
