.setting-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1e8;
  top: 0;
  left: 0;

  backdrop-filter: blur(10px);

  background: #aaaaaa3c;

  &>.setting-page-container {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.114);
    background: #fff;
  }
}
