.flex-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
}
