.video-splitter-asider {
  width: 200px;
  flex-shrink: 0;
  background: #0000000c;
}

.video-splitter-header {
  height: 70px;
  flex-shrink: 0;
  background-color: #575757;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 1em;

}

.video-splitter-footer {
  height: 50px;
  flex-shrink: 0;
  background-color: #333;
}

.video-splitter-main {
  padding: 1em;
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-between;

  .video-wrapper {
    width: 100%;
    height: 100%;

    .video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .splitter-container {
    height: 200px;
    background: #d4d4d1;
    flex-shrink: 0;
  }
}
