.current-pointer-container {
  position: absolute;
  translate: 0 -50%;
  height: 2px;
  background-color: #ee1010;
  width: 100%;

  &>span {
    display: inline-block;
    translate: -150% -50%;
    vertical-align: top;
    font-size: 10px;
    padding: 3px;
    background: #fff;
  }

  &>div {
    background-color: #ee1010;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    translate: -50% -50%;
  }
}
