.tabs-container {
  display: flex;
  background: #ececec;
  padding: 6px;
  border-radius: 6px;
  gap: 5px;

  .tabs-item-container {
    padding: 4px;
    background: #f0f0f0;
    border-radius: 4px;
    font-size: 10px;
    box-shadow: 0 0 5px 0 #00000017;

    &.activate {
      background: #fff;
    }
  }
}
