.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e6e6e647;
  //   padding: 20px;
  position: relative;

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    height: 40px;
    color: #555;

    .menu-item {
      cursor: pointer;
      border-bottom: 1px solid #0000;

      &:hover {
        border-bottom: 1px solid #555;
      }
    }

    .drop-down-menu-label {
      height: 15px;
      background: #000;
      font-size: 8px;
    }
  }

  .main-wapper {
    padding: 20px;
    width: 100%;
    gap: 10px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  $handle_size:40px;
  $hide_transition_time:.3s;
  $footer-height:40%;
  $item-size:80px;

  .footer-handle {
    position: absolute;
    left: 50%;
    bottom: $footer-height;
    height: $handle_size;
    width: $handle_size;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background: #e97f77;
    cursor: pointer;
    z-index: 2;

    transition: $hide_transition_time;

    &.footer-handle-hiden {
      bottom: 0px;
      background: #e97f776d;
    }
  }

  .all-cards-container {

    // flex: 1;
    &.all-card-container-hidden {
      //   flex: 0;
      height: 0%;
      padding: 0;
    }

    height: $footer-height;
    width: 100%;
    position: relative;
    transition: $hide_transition_time;
    background: #ededed;
    padding: 25px;
    overflow: auto;
    display: grid;

    //   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fill, calc($item-size - 10px));
    /* 👈 固定列宽 */
    grid-gap: 10px 20px;
    grid-auto-rows: $item-size;
    justify-content: start;



    .add-page {
      background: #ffffff7d;
      width: $item-size;
      height: $item-size;
      border-radius: 10px;
      border: 2px solid #ccc;
      font-size: 60px;
      color: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;

      .add-icon {}
    }

    $editing_transition_time:.1s;

    .card-preview {
      transition: $editing_transition_time;
      width: $item-size;
      height: $item-size;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 #cccccc68;

      color: #555;
      display: flex;
      justify-content: center;
      align-items: center;

      &.card-preview-editing {
        border: 2px solid #f5a55b;
        box-shadow: none;
        scale: 1.1;
      }
    }



    // background: #000;



  }
}
