@use './config.scss';


$remember-green:rgb(11, 173, 111);
$vague-orange:rgb(240, 223, 36);
$forget-red:rgb(224, 50, 19);

.books-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F8F9FA;
  height: 100%;
  width: 100%;

  .books-container-header {
    height: 50px;
    // background-color: #f1f1f1;
    width: 100%;
    border-bottom: 1px solid #cccccc57;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .add-book-icon {
      font-size: 21px;
      padding: 5px;
      color: #888;
      transition: .3s;
      border-radius: 20px;

      &:hover {
        cursor: pointer;
        color: #fff;
        background: #999;
      }
    }

    .header-icon-group-wrapper {
      display: flex;
      align-items: center;

      &>.icon {
        color: #888;
        font-size: 18px;
        padding: 4px;
        border-radius: 4px;

        &:hover {
          background: #00000019;
        }
      }
    }
  }

  .new-book-csv-uploader {
    width: 100%;
    height: 100%;
    transition: .3s;
  }

  .new-book-csv-uploader-dropover {
    filter: blur(5px);
    background: #bcbcbc22;
  }

  .book-items-wapper {

    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    grid-auto-rows: 170px;

    .book-csv-uploader {}

    .book-csv-uploader-dropover {
      filter: blur(5px);
      background: #bcbcbc22;
    }

    .book {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 10px;
      padding: 26px;
      color: #444;
      position: relative;

      .book-name {
        font-size: 24px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;

        //   border-bottom: 1px solid #888;
      }

      .book-description {
        font-size: 13px;
        color: #888;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & .book-info-item {
        font-size: 10px;
        color: #bbb;
      }
    }
  }


  .books-container-footer {
    height: 20px;
  }


}

.remember-card-app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #aaaaaa24;
  color: #555;
  position: relative;
  $bar-background: #f9f9f9;

  &>header {
    height: 40px;
    flex: 0 0 auto;
    width: 100%;
    background: $bar-background;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

    & .header-icon-group {
      display: flex;
      justify-content: space-around;
      gap: 5px;
      align-items: center;
    }

    & .icon {
      font-size: 20px;
      color: #888;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        background: #aaaaaa45;

      }
    }
  }

  &>main {
    width: 100%;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  &>footer {
    flex: 0 0 auto;
    height: 30px;
    background-color: $bar-background;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 13px;

    &>p {
      padding: 0 5px;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        background: rgba(0, 0, 0, 0.027);
      }
    }
  }



  .main-wrapper {
    width: 100%;
    height: 60%;
    flex: 2; // 让 main-wrapper 可以吃掉剩下的空间
  }

  .drawer-wrapper {
    width: 100%;
    flex: 0;
    height: 0;
    position: relative;
    transition: .3s;


    border-top: #0000;

    &.drawer-wrapper-expand {
      flex: 1;
      border-top: 2px solid #cacaca;
    }

    &>.cards-container {
      width: 100%;
      height: 100%;
      overflow: auto;
      background: #e4e8eb;

    }

    &>.drawer-handle {
      $handle-height-default: 30px;
      $handle-height-stretch: 40px;
      $handle-height-shrink: 10px;
      $handle-color: #da4949;
      width: $handle-height-default;
      cursor: pointer;
      background: fade-out($handle-color, .7);
      position: absolute;
      left: 50%;

      translate: -50% 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      z-index: 20;
      transition: .2s;

      height: $handle-height-shrink;
      top: -$handle-height-shrink;

      &.drawer-handle-expand {
        top: -$handle-height-default;
        height: $handle-height-default;

      }

      &:hover {
        height: $handle-height-stretch;
        top: -$handle-height-stretch;
        background: $handle-color;
      }

    }
  }
}

.progress-points-class {
  position: absolute;
  top: 20px;
  right: 20px;
}

@mixin card() {
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 #cccccc60;
  max-height: 450px;
  min-height: 100px;
  min-width: 100px;
  max-width: 650px;
  font-size: var(--recite-card-font-size);
  padding: 30px;
  position: relative;
}





// 子组件内部wrapper，包裹card_item
@mixin drawer-wrapper() {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(67px, 1fr));
  gap: 20px;
  grid-auto-rows: 70px;
}

$card-list-item-border-radius:10px; // card-list-item 的 圆角
$card-list-item-active-border:2px; // card-list-item 的 激活边框。

// 卡片
.card-list-item {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: $card-list-item-border-radius;

  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  font-size: var(--recite-card-list-font-size);
  padding: 10px;
  transition: .2s;

  position: relative;

  &>p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

}

.card-list-item-active {
  outline: $card-list-item-active-border solid #ee903e;
  box-shadow: 0 0 6px 0 fade-out(#ee903e, .7);
  scale: 1.1;
}


.recite-drawer-wrapper {
  @include drawer-wrapper();

  .cards-list-item-cover {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: $card-list-item-border-radius;

    &.no-review-today {
      background: #00000010;
    }

    &.review-done {
      &>.icon-qveren {
        font-size: 15px;
        position: absolute;
        top: 0;
        right: 0;
        color: $remember-green;
        translate: 25% -25%;
      }
    }
  }

  .cards-list-item-review-state-container {
    position: absolute;
    inset: 0;

    display: flex;
    padding: 5px;

    &>.review-label {

      $review-label-size: 14px;
      color: #666;
      font-size: 8px;
      padding: 3px;

      margin: 1px;
      display: block;
      width: $review-label-size;
      height: $review-label-size;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      $review-count-bg-fade: .7;

      &.remember-count-label {
        background: fade-out($remember-green, $review-count-bg-fade);

      }

      &.vague-count-label {
        background: fade-out($vague-orange, $review-count-bg-fade);

      }

      &.forget-count-label {
        background: fade-out($forget-red, $review-count-bg-fade);

      }
    }
  }
}



.recite-main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .recite-main-card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px;

    &>.q {
      @include card();
    }

    &>.a-wrapper {
      position: absolute;
      transition: .3s;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 50px;
      align-items: center;

      &>.a {
        @include card();


      }
    }

  }

  .recite-button-wrapper {
    height: 90px;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    padding: 0 70px;
    justify-content: space-around;

    @mixin recite-button {
      outline: none;
      padding: 10px;
      border: none;
      background: #0000;
      cursor: pointer;
      position: relative;
    }

    @mixin button-after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      height: 3px;
      transition: width 0.3s ease;
      border-radius: 10px;
    }

    &>.remember-button {
      @include recite-button();

      &::after {
        @include button-after();
        background: $remember-green;
      }

      &:hover::after {
        width: 80%;
      }

    }

    &>.vague-button {
      @include recite-button();

      &::after {
        @include button-after();
        background: $vague-orange;
      }

      &:hover::after {
        width: 80%;
      }
    }

    &>.forget-button {
      @include recite-button();

      &::after {
        @include button-after();
        background: $forget-red;
      }

      &:hover::after {
        width: 80%;
      }
    }

    &>.show-answer-button {
      @include recite-button();

      &::after {
        @include button-after();
        background: #bbb;
      }

      &:hover::after {
        width: 80%;
      }
    }
  }
}



.delete-menu-item {
  color: #ce3112;
  transition: .2s;
  display: flex;

  justify-content: space-around;
  align-items: center;
}
