body {
  width: 100vw;
  height: 100vh;
}

* {
  //   margin: 0;
  //   padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}


/* 滚动条整体 */
::-webkit-scrollbar {
  width: 4px;
  /* 垂直滚动条宽度 */
  height: 4px;
  /* 水平滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #0000;
  border-radius: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* 滑块悬停样式 */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
