.list-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  gap: 15px;
  //   padding: 30px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex: content;

  align-items: start; // 网格内每个元素的align
}
