.drawer-container {
  width: 100%;
  height: 100%;

  list-style: none;

  .file-item-container {
    margin-left: 20px;
    position: relative;
    // background: #abb;

    .file-item {
      background-clip: padding-box;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .file-item-input {
      border: none;
      outline: none;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  .folder-container {

    list-style: none;
    margin-left: 20px;
    // overflow: hidden;
    border-left: 1px solid #aaa;
  }

  .folder-handle {
    margin-left: 20px;
  }
}
