.event-instant-card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 34px;
  width: 100%;
  height: 100%;
  height: auto;

  &>section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  &>footer {
    display: flex;
    justify-content: space-around;
  }
}


.event-instant-timeline-view-container {
  position: absolute;
  background-color: #c9f6b0;
  border-radius: 7px;
  border-left: 3px solid #53c516;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.event-instant-diary-view-container {
  position: absolute;
  background-color: #a5c2ff;
  border-radius: 7px;
  border-left: 3px solid #0a70e5;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
