.qa-cover-function-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 11px;

  .mdx-wrapper {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.185);
    flex: 1;
    width: 100%;
    height: 100%;
  }

}
