.test-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &>.box {
    width: 200px;
    height: 200px;
    background: #50b7f7;
    border-radius: 10px;
    transition: 1s;

    &.ready {
      translate: -500px;
    }

    &.show {
      translate: 0;
    }

    &.leave {
      translate: 500px;
    }
  }
}
