.review-summary-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .3s;
  z-index: 20;
  background: #fff;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  &>header {

    display: grid;
    grid-template-columns: 50px 1fr 100px;
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }


  &>main {
    width: 100%;
    height: 100%;
    flex: 1;
    background: #eeeeeeaa;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    &>section {
      width: 100%;
      height: 100%;
      padding: 50px 30px;
      overflow: auto;

      &>.review-summary-table {
        border-radius: 10px;
        background: #fff;
        overflow: hidden;
        border-collapse: collapse;
        color: #444;
        border: 2px solid;
        box-shadow: 0 0 8px 5px #0000000b;


        & thead {
          //   background: #ccc;
          height: 40px;
          box-shadow: 0 0 10px 0 #00000017;

          & th {
            border-bottom: 1px solid #aaaaaa93;

            padding: 20px 20px;

          }
        }

        & tbody {
          &>tr {
            border-bottom: 1px solid #ececec;

            &>th {
              padding: 7px;
              font-weight: 300;

            }
          }


        }
      }
    }
  }


}
