.review-summary-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .3s;
  z-index: 20;
  background: #fff;



  &>.review-summary-table {
    border-collapse: collapse;
    color: #444;

    & thead {
      background: #ccc;
      height: 40px;

      & th {

        padding: 5px 20px;

      }
    }

    & tbody {
      background: #eeeeeeaa;

      & th {
        padding: 5px;
      }
    }
  }

}
