$time-section-height:60px;


.day-view-container {
  color: #555;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f3f5f872;

  &>header {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 20px;

    &>span {
      position: relative;

      &::after {
        content: '';
        background: #cacaca;
        width: 60%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 10px;
        transform: translateX(-50%) translateY(7px);
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
        background: #2971ec;
      }
    }
  }

  &>main {
    flex: 1;
    overflow: hidden;
    // height: 500px;
    background: #fff;
    border-radius: 20px;
  }

  &>footer {
    // height: 100px;
  }
}



.day-view-main-container {
  height: 100%;
  display: flex;
  flex-direction: column;


  &>header {
    height: 70px;
    display: grid;
    grid-template-columns: auto 30px auto 1fr auto;
    align-items: center;
    width: 100%;
    padding: 0 20px;

    &>.today-button {
      grid-column: 1;
    }

    &>.header-button-group {
      grid-column: 3;
      display: flex;
      gap: 10px;

      &>.icon {
        padding: 3px;
        transition: .3s;
        border-radius: 5px;

        color: #999;

        width: 25px;
        height: 25px;

        &:hover {
          background: #00000014;
        }
      }

      &>.last-day-icon {

        rotate: 90deg;
      }

      &>.select-day-icon {}

      &>.next-day-icon {
        rotate: -90deg;
      }
    }

    &>.mode {
      font-size: 15px;
      color: #555;
      grid-column: 5;
      cursor: pointer;
    }

  }

  &>main {
    overflow: auto;
    display: flex;
    height: 100%;

    // 边栏时间label
    &>aside {
      color: #999;
      height: 100%;
      width: 70px;
      padding-left: 20px;

      &>div {
        height: $time-section-height;

        &>span {
          display: inline-block;
          font-size: 12px;
          translate: 0 -50%;
          user-select: none;
        }
      }
    }

    // 事件区
    &>div {
      height: 100%;
      flex: 1;
      position: relative;

      & .time-section {
        height: $time-section-height;
        background: #fff;
        display: flex;
        flex: 1;
        border-top: 1px solid #99999926;
        transition: .3s;

        &:hover {
          background: #d2d2d214;
        }
      }
    }
  }

  &>footer {
    height: 20px;
  }

}
