.finish-review-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;

  .appluse-icon {
    font-size: 50px;
    padding: 15px;
    border-radius: 100px;
    // border: 2px solid rgb(16, 205, 16);
    // box-shadow: 0 0 10px 0 #0005;
    color: rgb(16, 205, 16);
  }

  .button-group {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
