// 总结表
.summary-table-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #555;

  .controller-header {
    height: 40px;
    background: #e0e0e0ad;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;

    & .left-group {
      display: flex;
      gap: 5px;
    }

    & .right-group {
      display: flex;
      gap: 5px;
    }

    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.315);
  }

  & main {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  td {
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #00000033;
    border-right: 1px solid #00000033;

    .operation-container {
      display: flex;
      gap: 5px;
      height: 100%;

      & .icon {
        font-size: 1.2em;
      }
    }
  }

  // content td 样式
  .summary-table-content-td {
    position: relative;

    // type 为 qa 的样式
    .summary-table-qatd {
      display: flex;
      gap: 10px;
      max-height: 100px;
      width: 100%;
      overflow: hidden;

      .summary-table-q {
        flex: 1;
        width: 100%;
        overflow: auto;
        font-weight: bold;
      }

      .summary-table-a {
        flex: 1;
        width: 100%;
        overflow: auto;
      }
    }

    // 编辑按钮样式
    .summary-table-edit-button {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5em;
    }
  }

  th {
    font-size: 13px;
    padding: 10px;
    border-bottom: 3px solid #00000033;
    border-right: 1px solid #00000033;
  }

  table {
    border-collapse: collapse;
  }
}
