.nav-container {
  width: 100%;
  height: 100%;

  min-width: 30px;
  padding: 20px 0;
  max-width: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav-wapper-upper {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .nav-wapper-down {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .nav-link {
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-link-icon {
      font-size: 23px;
      color: #888;

      &:hover {
        color: #fff;
      }
    }
  }
}
