.window-page-skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 100%;

  & header {
    font-weight: bold;
    font-size: 1.4em;
  }

  & main {
    flex: 1;
    width: 100%;
    height: 100%;
    flex: 1;
  }

  & footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
  }
}
