.review-header {
  display: flex;
  height: 50px;
  background: #797979;
  color: #fff;
  gap: 20px;

  .review-page-layout-function-wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
  }

  .review-tags-wapper {

    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

.review-asider {
  width: 200px;
  background: #e4e4e471;
  flex-shrink: 0;
}

.review-footer {
  height: 50px;
  background: #00000033;
}


.fill-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

@mixin underline-animation($color: #000,
  $height: 2px,
  $start-width: 50%,
  $end-width: 80%,
  $position: bottom,
  $duration: 0.3s,
  $easing: ease-out) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    #{$position}: 0;
    left: 50%;
    width: $start-width;
    height: $height;
    background-color: rgba($color, 0.5);
    transform: translateX(-50%);
    transition: all $duration $easing;
    // opacity: 0.5;
  }

  &:hover::before,
  &:focus::before,
  &.active::before {
    width: $end-width;
    opacity: 1;
    background-color: $color;
  }

  // 可选：添加额外的悬停效果
  &:hover {
    // 可以添加其他悬停效果
  }
}

.review-main-container {
  color: #444;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 70px;

  .review-content-container {
    flex: 1;

    .review-q {
      margin-bottom: 20px;
      //   font-style: italic;
      font-weight: bold;
    }
  }

  .review-operation-container {
    .review-operation-button-rate-container {
      display: flex;
      justify-content: space-between;
      padding: 0 20%;
      margin-bottom: 15px;

      >.button {
        padding: 5px 10px;
        border: none;
        outline: none;
        background: #0000;
        cursor: pointer;
        border-radius: 5px;
        $Ican-color: #0656eb;
        $Icant-color: #d40404;
        $trying-color: #ffc400;
        font-size: 15px;

        @mixin active-btn($color:#000) {
          outline: 1px solid $color;
          background: rgba($color, 0.3);
        }

        &.Ican {
          &.active {
            @include active-btn($Ican-color)
          }

          &.idle {
            @include underline-animation($Ican-color, 2px, 30%, 70%, bottom, 0.3s, ease-out);
          }
        }

        &.trying {
          &.idle {
            @include underline-animation($trying-color, 2px, 30%, 70%, bottom, 0.3s, ease-out);
          }

          &.active {
            @include active-btn($trying-color)
          }
        }

        &.Icant {
          &.idle {
            @include underline-animation($Icant-color, 2px, 30%, 70%, bottom, 0.3s, ease-out);
          }

          &.active {
            @include active-btn($Icant-color)
          }
        }
      }
    }

    .textarea-reminder {
      margin-bottom: 10px;
      font-size: small;
      color: #666;
    }
  }

  .review-footer {
    background: #0000;
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
  }
}

// 总结表
.summary-table-container {

  td {
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid #00000033;
    border-right: 1px solid #00000033;
  }

  // content td 样式
  .summary-table-content-td {
    position: relative;

    // type 为 qa 的样式
    .summary-table-qatd {
      display: flex;
      gap: 10px;

      .summary-table-q {
        flex: 1;
        font-weight: bold;
      }

      .summary-table-a {
        flex: 1;
      }
    }

    // 编辑按钮样式
    .summary-table-edit-button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  th {
    font-size: 13px;
    padding: 10px;
    border-bottom: 3px solid #00000033;
    border-right: 1px solid #00000033;
  }

  table {
    border-collapse: collapse;
  }
}
