.setting-page-container {
  padding: 20px;
  //   width: 100%;
  //   height: 100%;
  //   overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .review-count-container {
    width: 100%;
    padding-left: 50px;

    .review-count-item {
      padding: 3px;
    }
  }

  .level2days-container {
    width: 100%;

    padding: 50px 20%;

    .level2days-item {
      margin-bottom: 5px;
      display: flex;
      gap: 20px;
      padding: 2px;
      align-items: center;
      justify-content: space-between;

      & .input-number-container {
        display: flex;
        justify-content: space-between;
        gap: 17px;
        align-items: center;
      }

      & .button-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }
    }
  }

  & footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}
