.main-layout-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  background: #d6d6d6;

  .main-layout-aside {
    width: 50px;
    height: 100%;
  }

  .main-layout-main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;

  }
}
