.main-layout-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  .main-layout-aside {
    width: 50px;
    height: 100%;
    background: #2C2C2C;
  }

  .main-layout-main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

  }
}
