.notify-container {
  position: absolute;
  right: 0;
  top: 0;
  translate: 50% -50%;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(228, 57, 14);
}
