.icon-expand-tail {
  padding: 4px;
  font-size: 10px;
  border-radius: 20px;
  color: #aaa;
  border: 1px solid #aaa;
  transition: .3s;
  rotate: 180deg;

  &:hover {
    background-color: #ccccccb0;
  }

  &.expand {
    rotate: 0deg;
  }
}


.icon-tail-hover {
  padding: 4px;
  color: #777;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #00000021;
  }
}
