.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .event-layer {
    pointer-events: all;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


  }

  .origin {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: visible;
  }
}
